# how to identify your buttons

MAC_SMS=yo:ur:ma:ca:dd:rs
MAC_COFFEE=yo:ur:ma:ca:dd:rs

# SMS-related information

TWILIO_ACC_SID=[your account sid]
TWILIO_AUTH_TOKEN=[your twilio authentication token]
TWILIO_FROM_NUMBER=[number you're texting from]
TWILIO_TO_NUMBER=[number your sending sms to]

SMS_MSG_MORNING=[your arrival message here]
SMS_MSG_EVENING=[your departure message here]
SMS_MSG_UNSPECIFIED=Oops, this is no time to work!

# database-related information

MONGO_USER=user
MONGO_PWD=pwd
MONGO_HOST=host:port
MONGO_DB=dbname
MONGO_COLLECTION=collname

IFTTT=https://maker.ifttt.com/trigger/[your_event]/with/key/[yourkey]

# only use this if you have a MITM proxy, i.e. in a business environment ....

#NODE_TLS_REJECT_UNAUTHORIZED="0"
#HTTP_PROXY=http://[your.proxy.com]:80/
#HTTPS_PROXY=http://[your.proxy.com]:80/

