IFTTT=https://maker.ifttt.com/trigger/[your_event]/with/key/[yourkey]
MAC1=yo:ur:ma:ca:dd:rs

TWILIO_ACC_SID=[your account sid]
TWILIO_AUTH_TOKEN=[your twilio authentication token]
TWILIO_FROM_NUMBER=[number you're texting from]
TWILIO_TO_NUMBER=[number your sending sms to]

SMS_MSG_MORNING=[your arrival message here]
SMS_MSG_EVENING=[your departure message here]
SMS_MSG_UNSPECIFIED=Oops, this is no time to work!

# only use this if you have a MITM proxy, i.e. in a business environment ....
#NODE_TLS_REJECT_UNAUTHORIZED="0"
#HTTP_PROXY=http://[your.proxy.com]:80/
#HTTPS_PROXY=http://[your.proxy.com]:80/

